body {
    padding-top: 56px;
}

.background-header {
    background-image: url("https://images.alphacoders.com/124/1248205.jpg");
    background-color: #fafbfc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-style {
    margin-top: 15px;
    background-color: #fafbfc;
}

h2::before,
h2::after {
    background-color: #5e7fec;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 18.5%;
}
h2::before {
    right: 0.5em;
    margin-left: -50%;
}
h2::after {
    left: 0.5em;
    margin-right: -50%;
}

.gambar {
    background: no-repeat center/contain;
    background-size: cover;
}
